//Creación de botones
@mixin crearBotonArt ($colorLetra,$colorFondo,$tamanio,$tamanioLetra){
    flex-direction: row;
    background-color: $colorFondo;
    color:$colorLetra;
    padding: $tamanio;
    font-size: $tamanioLetra;
    text-decoration: none;
    border:none;
    align-self: center;
}

@mixin crearBotonCarr ($colorLetra,$colorFondo,$tamanio,$tamanioLetra){
    flex-direction: column;
    background-color: $colorFondo;
    color:$colorLetra;
    padding: $tamanio;
    font-size: $tamanioLetra;
    text-decoration: none;
    border:none;
    
}
//creacion de media query para diferentes dispositivos
@mixin dispositivos($pantalla){
    @media (min-width:$pantalla){
        @content;
    }
}

    @mixin dispositivos2($pantalla){
        @media (max-width:$pantalla){
            @content;
    }
}