
//colores

$color_letras_head:white;
$color_p: grey;
$color_letra_boton:white;
$color_letra_nav:white;
$color_letra_articulos:black;
$color_fondo_boton:#438bc7;
$color_fondo_boton_2:white;
$color_fondo_header:white;
$color_fondo_footer:black;
$color_fondo_btn2:#7b1fa2;

//medida
$movil:280px;
$tablet:480px;
$escritorio: 780px;
$tamanio_boton:10px;
$tamanio_letra_boton:17px;

//imagenes

