* {
  margin: 0;
  padding: 0;
  border: 0;
}

.contenedor {
  margin: 0 auto;
  max-width: 1200px;
}

header {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .carrito {
  position: relative;
}
header .carrito .carInterior {
  display: none;
  position: absolute;
  right: 0;
  border: 2px solid black;
}
header .carrito .carInterior div {
  padding: 10px;
}
header .carrito:hover .carInterior {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  background-color: white;
}
header .carInterior button {
  flex-direction: column;
  background-color: #7b1fa2;
  color: white;
  padding: 10px;
  font-size: 17px;
  text-decoration: none;
  border: none;
}

.fondo {
  background-image: url(/img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
}
.fondo .principal {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fondo .principal .buscador {
  display: flex;
  flex-direction: row;
}
.fondo .principal .buscador input {
  flex-grow: 1;
}
@media (min-width: 780px) {
  .fondo .principal .buscador {
    width: 300px;
  }
}

.fondo h1 {
  color: white;
  padding: 10px;
}

.fondo p {
  color: white;
  padding: 10px;
}

.buscador {
  padding: 10px;
}

.buscador button {
  flex-direction: row;
  background-color: white;
  color: white;
  padding: 10px;
  font-size: 17px;
  text-decoration: none;
  border: none;
  align-self: center;
  background-image: url(/img/lupa.png);
}

.granate {
  background: linear-gradient(90deg, #7b1fa2, #c2185b, #e53935, #f4511e);
}

.granate ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: 480px) {
  .granate ul {
    flex-direction: row;
  }
}

.granIcon {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.granate ul li {
  display: flex;
  padding: 10px;
  align-items: center;
}

.granate p {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  padding-left: 10px;
}

.granate img {
  width: 50px;
  height: 50px;
}

.h1Articulo {
  text-align: center;
  padding: 10px;
}

.cursos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cursos .imagenArt {
  width: 100%;
}

.curso {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 0.5rem);
  padding-bottom: 1rem;
  border: 1px solid grey;
  margin-bottom: 10px;
}
@media (min-width: 480px) {
  .curso {
    flex-basis: calc(33.3333333333% - 0.6666666667rem);
  }
}
@media (min-width: 780px) {
  .curso {
    flex-basis: calc(25% - 0.75rem);
  }
}
.curso .estrella {
  align-self: flex-start;
  padding: 10px;
}

.curso h2 {
  font-size: 10px;
  color: black;
  padding: 10px;
}
@media (min-width: 480px) {
  .curso h2 {
    font-size: 20px;
  }
}

.curso p {
  color: black;
  padding: 10px;
}

.curso div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.curso div :nth-child(2) {
  font-weight: bold;
  text-decoration: line-through;
}

.btnArt {
  flex-direction: row;
  background-color: #438bc7;
  color: white;
  padding: 10px;
  font-size: 17px;
  text-decoration: none;
  border: none;
  align-self: center;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fArt {
  flex-basis: 1;
  padding: 10px;
}
@media (min-width: 480px) {
  .fArt {
    flex-basis: 50%;
  }
}